<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">li {
        list-style-type: none;
    }</style>
    <meta charset="UTF-8">
    <title>{{category}}</title>
</head>
<body>
<h1>{{category}}</h1>
<h2>This the {{category}} page !</h2>
<p>{{numberOfWines}}</p>
<ul>
    <li><a href={{urlOne}}>{{one}}</a></li>
    <li><a href={{urlTwo}}>{{two}}</a></li>
    <li><a href={{urlThree}}>{{three}}</a></li>
</ul>
<a href="../">Back to main page</a>
</body>
</html>