<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{individual}}</title>
</head>
<body>
<h1>{{individual}}</h1>
<div>
    <p>{{introduction}}</p>
</div>
<div>
    <a href="/cart">Add to cart</a>
</div>
<a href={{parent_page}}>Back to {{category}} page</a><br/>
<a href="../">Back to main page</a>
</body>
</html>